<!doctype html>
<html lang="zh-TW">
  <head>
    <title>107-02-IOT-Project</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="./vue.min.js"></script>
    
    <link href="./Flat-UI-master/dist/css/vendor/bootstrap.min.css" rel="stylesheet">
    <link href="./Flat-UI-master/docs/assets/css/demo.css" rel="stylesheet">
    <link href="./Flat-UI-master/dist/css/flat-ui.css" rel="stylesheet">

    <link rel="shortcut icon" href="./Flat-UI-master/dist/favicon.ico">
    
  </head>
  <body>
    <div id="Viewer">
      <nav class="navbar navbar-expand-lg" role="navigation">
        <a class="navbar-brand" href="#">IOT-Project</a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar-collapse-01"></button>
        <div class="collapse navbar-collapse" id="navbar-collapse-01">
          <ul class="nav navbar-nav mr-auto">
            <li class="active"><a href="#">監控</a></li>
            <li><a href="https://github.com/Lian0123/107-02-IOT-Project" target="GitHub">關於</a></li>
            <li><a href="#">連線次數：{{Vounter}}次</a></li>
          </ul>
        </div>
        <div class="" v-if="IsMessage" class="ts active snackbar">
            <ul class="nav  navbar-nav mr-auto">
              <li><a a href="#">{{MessageData}}</a></li>
            </ul>
        </div>
      </nav>

      

    <div class="container" style="align:center;text-align:center;">
      <h4>新增裝置</h4>

      <div class="col">
      <table style="width:100%">
        <tr>
          <td style="width:100%;align:center;"><input id="my-input" class="form-control" type="text" v-model:value="InputDevID"></td>
          <td style="width:100%;align:center;"><a  href="#fakelink"  class="btn btn-block btn-lg btn-primary" @click="AddNewDev()">Add</a></td>
        </tr>

      </table>
      </div>

      <h5>裝置設定</h5>
      <table border='1' style="width:100%">
        <tr style="background:#0B1013;color:#24936E">
          <th>Device Name</th>
          <th>State</th>
          <th>Stop Time</th>
          <th>Location</th>
          <th>Option</th>
        </tr>


        <tr v-for="(item, index) in DataList":key="item.counter">
          <td>{{item.id}}</td>
          <td>{{item.State}}</td>
          <td v-bind:title="item.Time">{{item.counter}}sec</td>
          <td><a v-bind:href="item.Link" v-bind:target="index">Link</a></td> 
          <td><a href="#" @click="DelDev(index)">Disconnect</a></td> 
        </tr>

      </table>


      <h4>連線設定</h4>
      <table style="width:100%">
        <tr>
          <td  style="align:center;text-align:left;">Connect To Server</td>
          <td style="align:center;text-align:right;"><a href="#" @click="ConnectEvent()"><input type="checkbox" data-toggle="switch" name="info-square-switch" data-on-color="success" id="switch-05" /></a></td>
        </tr>

      </table>

      <div v-if="IsConnect">
        <h5>系統回傳</h5>
        <table border='1' style="width:100%">
          <tr style="background:#0B1013;color:#24936E">
            <th>UID</th>
            <th>Location</th>
            <th>Time</th>
            <th>Where</th>
          </tr>


          <tr v-for="(item, index) in LogList" v-if="index > NowPage*20-21 && index < NowPage*20">
            <td>{{item.id}}</td>
            <td>({{item.Local.x}},{{item.Local.y}})</td>
            <td>{{item.Time}}</td>
            <td><a v-bind:href="item.Link" v-bind:target="index">Link</a></td> 
          </tr>

        </table>
        
        </br></br></br>

        <ul class="pagination-plain">
          <li class="previous">
            <a href="#" @click="NowPageEvent(-1)" v-if="NowPage>1">Previous</a>
          </li>
          <li>
            <a v-for="n in PageSum" href="#" @click="NowPageSet(n)">
              <span v-if="n==NowPage" style="color:rgb(0, 54, 155)">
                  {{n}}
              </span>
              <span v-else>
                  {{n}}
              </span>
            </a>
          </li>
          <li class="next">
            <a href="#" @click="NowPageEvent(1)" v-if="NowPage<PageSum">Newer</a>
          </li>
        </ul>
      </div>
      
    </div>
  </div>
  </body>
</html>

    <script src="./index.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <!-- Bootstrap 4 requires Popper.js -->
    <script src="https://unpkg.com/popper.js@1.14.1/dist/umd/popper.min.js" crossorigin="anonymous"></script>
    <script src="./Flat-UI-master/dist/scripts/flat-ui.js"></script>
    <script src="./Flat-UI-master/docs/assets/js/application.js"></script>

